# PHPStorm #
############
.idea

# netbeans #
#####################
nbproject/*

# Visual Studio Code #
######################
.vscode

# Composer #
############
vendor
build
composer.lock

# Subversion #
##############
.svn

# Apache & Web #
################
.htaccess
info.php

